.payment-sticker {
  display: flex;
  gap: 42px;
  justify-content: space-between;
  padding: 0 60px 0 40px;
  background: $gradient1;
  border-radius: 24px;
  @include media-laptop {
    padding: 0 24px;
  }
  @include media-tablet {
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    border-radius: 14px;
  }
  &__content {
    align-self: center;
    padding: 44px 0;
    @include media-tablet {
      width: 100%;
      padding: 16px 12px 0;
    }
  }
  &__image {
    flex-shrink: 0;
    align-self: flex-end;
    width: 180px;
    @include media-tablet {
      width: 140px;
      margin-left: auto;
    }
  }
}
