mixin credit-holidays-table(mods)
  -
    const baseName = 'credit-holidays-table'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    const listItems1 = [
      { p3: 'Размер платежей на период кредитных каникул устанавливается равным 0, а&nbsp;при уменьшении размера платежей Заемщиком-индивидуальным предпринимателем — равным сумме, определенной Заемщиком;' },
      { p3: 'Начисление процентов в период действия кредитных каникул: <br>— процентная ставка равна 2/3 от среднерыночного значения полной стоимости потребительского кредита (займа) в процентах годовых, подлежащего применению во втором квартале 2022 года; <br>— по кредиту, предоставленному индивидуальному предпринимателю, осуществляющему деятельность в пострадавшей отрасли, определенной постановлением Правительства, <br>— процентная ставка соответствует действующей по кредитному договору;' },
      { p3: 'После окончания кредитных каникул начисленные, но непогашенные проценты включаются в состав будущих платежей. При этом размер ежемесячного платежа не меняется, увеличивается срок погашения кредита.' }
    ]

  .credit-holidays-table(class=allMods)&attributes(attributes)
    .credit-holidays-table__head
      +ui-h3('Порядок начисления процентов и погашения задолженности при предоставлении кредитных каникул', '--bold')
    .credit-holidays-table__body
      .credit-holidays-table__table
        .credit-holidays-table__line.credit-holidays-table__line--black-bg
          +ui-p3('Вид кредита', 'credit-holidays-table, --white')
          +ui-p3('Порядок начисления процентов и погашения задолженности', '--white')
        .credit-holidays-table__line
          +ui-p3('Потребительский кредит, автокредит', 'credit-holidays-table, --secondary3')
          +ui-ul(listItems1)
        .credit-holidays-table__line
          +ui-p3('Обслуживание карты', 'credit-holidays-table, --secondary3')
          +ui-p3('Бесплатно – со второго месяца использования карты при покупках от 5000 ₽/мес Первый месяц – 149₽')
    +footnote({p4: 'Если предоставление заемщику кредитных каникул по закону не представляется возможным, банк может принять решение о предоставлении кредитных каникул по собственной программе банка, при этом последствия таких кредитных каникул, в том числе в части порядка погашения кредита, аналогичны условиям и последствиям кредитных каникул, предусмотренных законом.'}, 'credit-holidays-table')
    block
