.ui-tooltip {
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-bottom: 4px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23D9D9D9'/%3E%3Cpath fill='%23797979' d='M7.887 10.561c0-.324.04-.614.12-.87.084-.256.21-.492.378-.708.168-.22.384-.43.648-.63.224-.164.404-.31.54-.438.14-.128.252-.262.336-.402a.86.86 0 0 0 .132-.456.875.875 0 0 0-.15-.522.865.865 0 0 0-.426-.324 1.743 1.743 0 0 0-.666-.114c-.268 0-.496.04-.684.12a.868.868 0 0 0-.42.372c-.096.168-.144.382-.144.642H6.027c0-.512.104-.952.312-1.32.212-.368.528-.65.948-.846.42-.2.94-.3 1.56-.3.52 0 .988.098 1.404.294.416.192.742.468.978.828.236.356.354.77.354 1.242 0 .3-.066.576-.198.828a2.539 2.539 0 0 1-.492.66 7.699 7.699 0 0 1-.72.6l-.036.024a.197.197 0 0 1-.03.024c-.276.204-.48.408-.612.612a1.293 1.293 0 0 0-.192.702v.258H7.887v-.276Zm.732 2.964a.984.984 0 0 1-.486-.12.9.9 0 0 1-.33-.318.85.85 0 0 1-.12-.438c0-.164.038-.312.114-.444a.844.844 0 0 1 .336-.312.984.984 0 0 1 .486-.12c.18 0 .342.04.486.12a.84.84 0 0 1 .45.756.86.86 0 0 1-.12.444.803.803 0 0 1-.33.312.984.984 0 0 1-.486.12Z'/%3E%3C/svg%3E");
  button {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
  }
  a {
    color: $primary1;
  }
  .tippy-box {
    color: $secondary3;
    font: 12px/1.2 $font;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 16px rgba(0 0 0 / 0.25);
    .tippy-content {
      padding: 20px 12px;
    }
  }
  .ui-ul {
    li {
      &::before {
        margin-top: 5px;
      }
    }
  }
  &--white {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='white'/%3E%3Cpath d='M7.887 10.561C7.887 10.237 7.927 9.947 8.007 9.691C8.091 9.435 8.217 9.199 8.385 8.983C8.553 8.763 8.769 8.553 9.033 8.353C9.257 8.189 9.437 8.043 9.573 7.915C9.713 7.787 9.825 7.653 9.909 7.513C9.997 7.369 10.041 7.217 10.041 7.057C10.041 6.849 9.991 6.675 9.891 6.535C9.795 6.391 9.653 6.283 9.465 6.211C9.281 6.135 9.059 6.097 8.799 6.097C8.531 6.097 8.303 6.137 8.115 6.217C7.931 6.297 7.791 6.421 7.695 6.589C7.599 6.757 7.551 6.971 7.551 7.231H6.027C6.027 6.719 6.131 6.279 6.339 5.911C6.551 5.543 6.867 5.261 7.287 5.065C7.707 4.865 8.227 4.765 8.847 4.765C9.367 4.765 9.835 4.863 10.251 5.059C10.667 5.251 10.993 5.527 11.229 5.887C11.465 6.243 11.583 6.657 11.583 7.129C11.583 7.429 11.517 7.705 11.385 7.957C11.253 8.209 11.089 8.429 10.893 8.617C10.697 8.805 10.457 9.005 10.173 9.217C10.161 9.225 10.149 9.233 10.137 9.241C10.129 9.249 10.119 9.257 10.107 9.265C9.831 9.469 9.627 9.673 9.495 9.877C9.367 10.081 9.303 10.315 9.303 10.579V10.837H7.887V10.561ZM8.619 13.525C8.439 13.525 8.277 13.485 8.133 13.405C7.993 13.325 7.883 13.219 7.803 13.087C7.723 12.951 7.683 12.805 7.683 12.649C7.683 12.485 7.721 12.337 7.797 12.205C7.877 12.073 7.989 11.969 8.133 11.893C8.277 11.813 8.439 11.773 8.619 11.773C8.799 11.773 8.961 11.813 9.105 11.893C9.249 11.969 9.359 12.073 9.435 12.205C9.515 12.337 9.555 12.485 9.555 12.649C9.555 12.809 9.515 12.957 9.435 13.093C9.359 13.225 9.249 13.329 9.105 13.405C8.961 13.485 8.799 13.525 8.619 13.525Z' fill='%23797979'/%3E%3C/svg%3E%0A");
  }
}
