extends ../../layouts/layout

block variables
  -
    const pageName = 'credits-holidays'
    const pageTitle = 'Credits holidays'
    const headerAbsolute = true
    const siteSection = 'private'
    const headerMenuActive = 'Кредиты'

    const parametersGrid = [
      {
        p3: 'Сумма на руки',
        p1: 'от 51 000 до 3 000 000 ₽'
      },
      {
        p3: 'Срок кредита',
        p1: 'от 4 до 5 лет'
      },
      {
        itemMods: 'parameters-grid__item--x2-row parameters-grid__item--t-w100',
        p3: 'При подключении <a href="#">Сервисного пакета «Управляй Легко»</a>',
        p1: 'Снижение ставки на 14.5%'
      },
      {
        p3: 'Погашение кредита',
        p1: 'Аннуитетными платежами'
      },
      {
        p3: 'При соблюдении условий кредита',
        p1: 'Гарантия ставки 0%'
      },
      {
        itemMods: 'parameters-grid__item--x2 parameters-grid__item--t-w100',
        h5: 'Требования к заемщику',
        list: [
          { p3: 'Возраст заемщика — от 23 до 80 лет на момент окончания срока действия кредитного договора' },
          { p3: 'Стаж — не менее 3 месяцев на последнем месте работы' },
          { p3: 'Регистрация и проживание — кредитуемые Субъекты РФ' },
          { p3: 'Гражданство – Российская Федерация' },
        ]
      },
      {
        itemMods: 'parameters-grid__item--t-w100',
        h5: 'Документы',
        docs: [
          {
            icon: 'icon_emblem',
            name: 'Паспорт гражданина РФ'
          },
          {
            icon: 'icon_doc-plus',
            name: 'Документ, подтверждающий',
            nameNowrap: 'доход',
            nameTooltip: 'tt'
          }
        ]
      }
    ]

    const parametersListItems = [
      { p3: 'данные лица, которому выдан документ (ФИО, дата рождения);' },
      { p3: 'наименование работодателя, сумма выплат и иных вознаграждений за последние 12 месяцев (при стаже работы менее 12 месяцев - за фактическое время работы, минимум - 3 месяца);' },
      { p3: 'на последней странице - штамп с указанием реквизитов усиленной квалифицированной электронной подписи' }
    ]

block content
  main
    .inner
      +breadcrumbs('--banner')
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Кредитные каникулы для мобилизованных')
        +breadcrumbs-item('Кредитные каникулы для мобилизованных', '/', '--mobile')
      +banner({h2: 'Способы погашения кредита', p2: 'Вносите платежи по кредиту с комфортом', image: 'banner_img--repayment.png'}, '--layout')
      +section
        +repayment([{withoutCommission: true}], '--credit-holidays')
      +section
        +credit-holidays-table
      +section('--background, --order-up')
        +parameters
      +section('--background, --order-up')
        +parameters-new('Параметры', [{ p4: 'Условия кредитования' }, { p4: 'Способы погашения кредита' }, { p4: 'Cпособы подтверждения дохода' }, { p4: 'Тарифы и документы'}], 'Распоряжайтесь и управляйте кредитом так, как вам удобно!')
          +ui-tab-item('--active')
            .parameters-new__top
              +ui-h4('Условия кредитования', '--bold')
              .parameters-new__close
            +parameters-grid(parametersGrid, '--x3')
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Способы погашения кредита', '--bold')
              .parameters-new__close
            +repayment([{withoutCommission: true}], 'parameters-new')
            +repayment([{withCommission: true}], 'parameters-new')
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Cпособы подтверждения дохода', '--bold')
              .parameters-new__close
            +ui-h5('Подтвердите свой доход за несколько минут', 'parameters-new, --bold')
            +ui-accordion({p2: 'Выписка о состоянии счёта ПФР'})
              +ui-p2('Должна содержать:', 'parameters-new, --bold')
              +ui-ul(parametersListItems, 'parameters-new')
              +ui-p3('Срок действия: 6 месяцев')
            +ui-accordion({p2: 'Справка по форме банка'})
            +ui-accordion({p2: 'Справка по форме ФНС'})
            +ui-accordion({p2: 'Выписка по счёту'})
            +ui-accordion({p2: 'Декларация 3-НДФЛ'})
            +ui-accordion({p2: 'Подтверждение, что вы получаете пенсию менее 12 месяцев'})
            +ui-accordion({p2: 'Выписка со счёта для зачисления пенсии'})
            +ui-accordion({p2: 'Справка организации, назначившей пенсию'})
            br
            br
            +document({p4: 'Шаблон справки по форме банка'})
            +document({p4: 'Инструкция по получению Извещения о состоянии счета ПФР'})
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Тарифы и документы', '--bold')
              .parameters-new__close
            +document({p4: 'Тарифы банка'})
            +document({p4: 'Заявление о присоединении к Правилам комплексного банковского обслуживания и подключении услуг'})
            +document({p4: 'Реквизиты для безналичного пополнения счета'})
            +document({p4: 'Правила комплексного банковского обслуживания физических лиц в ПАО Банк Синара. Версия 8.4'})
            +document({p4: 'Правила КБО Версии 1.0-8.3'})
            +document({p4: 'Условия предоставления и использования потреб. кредитов в ПАО Банк Синара'})
            +document({p4: 'Способы и адреса для направления обращений получателями финансовых услуг'})
            +document({p4: 'Шаблон справки о заработной плате по форме банка'})
      +section
        +steps
      +section
        +income-loss
      +section
        +usefull([{questions: true}, {mobilization: true}])
      +section
        +usefull([{card: true}, {reference: true}])
