.popups {
  position: fixed;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  @include media-laptop {
    bottom: 93px;
  }
  &__item {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
}
