extends ../../layouts/layout

block variables
  -
    const pageName = 'cards-universal'
    const pageTitle = 'Универсальная карта'
    const headerAbsolute = true
    const siteSection = 'private'
    const headerMenuActive = 'Карты'

    const conditionsItems = {
      h3: 'Преимущества',
      items: [
        {
          front: [{ icon: 'icon_limit', p3: 'Быстрый выпуск' }],
          back: [{ p3: 'В отделении в&nbsp;день обращения или&nbsp;моментально в&nbsp;мобильном приложении', mobileFullWidth: true }]
        },
        {
          front: [{ icon: 'icon_atm', p3: 'Бесплатное снятие наличных в банкоматах' }],
          back: [{ p3: 'В банкоматах Банка Синара и в банкоматах партнеров <br><br> Бесплатно - в банкоматах Банка Синара, АО «Газэнергобанк» ', mobileFullWidth: true }]
        },
        { front: [{ icon: 'icon_transfer', p3: 'Получайте кешбэк при оплате картой' }],
          back: [{ p3: 'до 5% в любимых категориях, и 1% в иных категориях', mobileFullWidth: true }]
        },
        {
          front: [{ icon: 'icon_calendar', p3: 'Бесплатные переводы до 100 000 ₽/мес' }],
          back: [{ p3: 'Переводы по номеру телефона в рамках Системы быстрых платежей', mobileFullWidth: true }]
        },
        {
          front: [{ icon: 'icon_nfc', p3: 'Оплата одним касанием телефона' }],
          back: [{ p3: 'С помощью платежного стикера, Samsung Pay или Mir Pay' }]
        },
      ]
    }

    const savePointsItems = [
      { p1: 'до <span>7</span> % баллов', p3: 'в выбранных категориях' },
      { p1: '<span>1=1</span>', p3: '1 бонусный балл = 1 ₽' },
      { p1: '<span>150</span>', p3: 'приветственных баллов' },
      { p1: 'до <span>5000</span>', p3: 'бонусных баллов в месяц', tooltip: true }
    ]

    const stepsData = {
      title: 'Получить баллы легко',
      items: [
        { p2: 'Выберите категории', p4: 'В интернет-банке или мобильном приложении для начисления повышенных баллов выберите по одной категории в каждой группе' },
        { p2: 'Копите баллы', p4: 'Совершайте покупки и получайте бонусные баллы' },
        { p2: 'Возвращайте деньги', p4: 'Накопите от 1 000 баллов и возвращайте деньги за&nbsp;покупки от 1 000 ₽ в следующем месяце' }
      ]
    }

    const stepsData_2 = {
      tabsHeadMods: ', --flex-wrap',
      tabsHead: [
        {p4: 'Пластиковая карта', mods: 'ui-tab-head__item--m-flex1'},
        {p4: 'Цифровая карта', mods: 'ui-tab-head__item--m-flex1'},
        {p4: 'Платежный стикер', mods: 'ui-tab-head__item--m-flex1'},
      ],
      tabGroup: 'get-card',
      title: 'Получить карту просто!',
      items: [
        { p2: 'Обратитесь в офис', p4: 'Выберите удобный для вас <a href="#">офис банка</a>' },
        { p2: 'Подготовьте документ', p4: 'Предъявите паспорт' },
        { p2: 'Готово', p4: 'Получите активированную карту моментально' }
      ]
    }

    const parametersGrid = [
      {
        p3: 'Тип',
        p1: 'Дебетовая карта'
      },
      {
        p3: 'Тарифный план',
        p1: 'Универсальный'
      },
      {
        itemMods: 'parameters-grid__item--t-w100',
        p3: 'Валюта',
        p1: 'Рубли РФ (₽)'
      },
      {
        itemMods: 'parameters-grid__item--w100 parameters-grid__item--pd-l',
        table: [
          {
            p3_1: 'Выпуск карты',
            p3_2: 'Бесплатно, 450 ₽ – на пластиковом носителе к цифровой карте Мир',
          },
          {
            p3_1: 'Обслуживание карты',
            p3_2: `
              <p>Бесплатно</p>
              <ul class="ui-ul">
                <li>в первый месяц, в котором была получена карта;</li>
                <li>при наличии действующего потребительского кредита;</li>
                <li>при наличии действующего срочного вклада*;</li>
                <li>при остатке не менее 30 000 ₽ и покупках от 15 000 ₽**;</li>
                <li>при отсутствии операций по карте.</li>
              </ul>
              <p>В остальных случаях – 159 ₽/мес</p>
            `
          },
          {
            p3_1: 'Информирование об операциях с использованием карты',
            p3_2: '99 ₽/мес',
          },
          {
            p3_1: '10 бесплатных снятий в сторонних банкоматах',
            p3_2: '59 ₽/мес',
          },
          {
            p3_1: 'Можно <span class="ui-nowrap">больше <div class="ui-tooltip"><button data-tippy-content="tt"></button></div></span>',
            p3_2: '299 ₽/мес',
          },
          {
            p3_1: 'Пополнение',
            p3_2: `
              <p>Бесплатно</p>
              <ul class="ui-ul">
                <li>с других карт в интернет-банке и мобильном приложении Синара Банк;</li>
                <li>в кассах ПАО Банк Синара;</li>
                <li>в банкоматах ПАО Банк Синара.</li>
              </ul>
            `
          },
          {
            p3_1: 'Снятие наличных',
            p3_2: `
              <p>Бесплатно</p>
              <ul class="ui-ul">
                <li>в банкоматах ПАО Банк Синара, АО «Газэнергобанк»</li>
              </ul>
            `
          },
          {
            p3_1: 'Лимиты на снятие',
            p3_2: `
              <ul class="ui-ul">
                <li>100 000 ₽/сут. - в банкоматах ПАО Банк Синара, АО «Газэнергобанк»;</li>
                <li>1 000 000 ₽/сут. – в кассах ПАО Банк Синара и АО «Газэнергобанк».</li>
              </ul>
            `
          },
          {
            p3_1: 'Переводы в интернет-банке и мобильном приложении',
            p3_2: `
              <p>С использованием Системы быстрых платежей:</p>
              <ul class="ui-ul">
                <li>в банкоматах ПАО Банк Синара, АО «Газэнергобанк»</li>
              </ul>
            `
          },
        ]
      }
    ]

block content
  main
    .inner
      +breadcrumbs('--banner')
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Универсальная карта')
        +breadcrumbs-item('Универсальная карта', '/', '--mobile')
      +banner({h2: 'Универсальная карта', p2: 'Карта, которая работает на вас каждый день', infoItems: [{ p2: 'от<span>0</span>₽', p4: 'обслуживание карты' }, { p2: 'до<span>7</span>%', p4: 'за покупки в любимых категориях' }], image: 'banner_img--cards-universal.png', buttons: [{ p3: 'Выбрать карту', mods: '--filled, --p64' }, { p3: 'Рассчитать выгоду', mods: '--p64' }, { p3: 'Заказать звонок', mods: '--text' }]}, '--cards-universal, --layout')
      +section
        +conditions(conditionsItems)
      +section
        +save-points('Копите баллы и возвращайте деньги за покупки', savePointsItems)
      +section
        +promo([{activeIncome: true}])
      +section
        +steps(stepsData, '--pd-x0, --bg-grad')
      +section('--mt-xs')
        +more-banner
      +section
        +section-head: +ui-h3('Доступные категории', '--bold')
        +cards-category-group
        +section-footnote
          +ui-info: +ui-p5('Если категории не выбраны, то вы будете получать 1% со всех покупок, кроме категорий из Группы 1', '--secondary3')
      +section('--background')
        +all-at-once
      +section('--background')
        +section-head
          +ui-h3('Получайте двойной доход с одной картой', 'section-head, --bold')
          +ui-p2('Выберите категорию в каждой группе и сумму покупок в ней', 'section-head')
          +section-footnote
            +ui-info: +ui-p5('Для получения повышенных баллов в выбранных категориях необходимо выполнить условие: <br> Сумма покупок в выбранных категориях - не более 70%. Сумма покупок в остальных категориях – не менее 30%', '--secondary3')
        +section-box('--m-inset')
          +cards-calculator('categories')
          +section-footnote
            +ui-info
              +ui-p5('Расчет носит информационно-справочный характер', '--secondary3')
                +ui-tooltip('', 'tt')
      +section('--l-pd-x')
        +steps(stepsData_2, '--pd-x0')
        +section-footnote('--max-w730')
          +ui-info
            +ui-p5('После получения пластиковой или цифровой карты создайте PIN-код в интернет-банке, мобильном приложении или с помощью Службы заботы о клиентах по номеру', '--secondary3')
              =' '
              a.ui-nowrap.ui-primary1(href='tel:8 800 1000 600') 8 800 1000 600
      +section('--background, --order-up')
        +parameters
        +section-footnote('--max-w900')
          +ui-info: +ui-p5('Данная информация размещена исключительно в информационных целях, не является публичной офертой. Подробная информация указана в Тарифном справочнике. <br>* В том числе комиссия не взимается если часть месяца действовал один срочный вклад, который был расторгнут/закончил срок действия, и в этот же день был оформлен другой срочный вклад (переоформление вклада «день в день»). <br>** Учитываются только оплаты, отраженные по счету карты в отчетном периоде', '--secondary3')
      +section('--background, --order-up')
        +parameters-new('Параметры', [{ p4: 'Условия по карте' }, { p4: 'Тарифы и документы'}])
          +ui-tab-item('--active')
            .parameters-new__top
              +ui-h4('Условия по карте', '--bold')
              .parameters-new__close
            +parameters-grid(parametersGrid, '--x3')
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Тарифы и документы', '--bold')
              .parameters-new__close
            +document({p4: 'Тарифы банка'})
            +document({p4: 'Заявление о присоединении к Правилам комплексного банковского обслуживания и подключении услуг'})
            +document({p4: 'Реквизиты для безналичного пополнения счета'})
            +document({p4: 'Правила комплексного банковского обслуживания физических лиц в ПАО Банк Синара. Версия 8.4'})
            +document({p4: 'Правила КБО Версии 1.0-8.3'})
            +document({p4: 'Условия предоставления и использования потреб. кредитов в ПАО Банк Синара'})
            +document({p4: 'Способы и адреса для направления обращений получателями финансовых услуг'})
            +document({p4: 'Шаблон справки о заработной плате по форме банка'})
        +section-footnote('--max-w900')
          +ui-info: +ui-p5('Данная информация размещена исключительно в информационных целях, не является публичной офертой. Подробная информация указана в Тарифном справочнике. <br>* В том числе комиссия не взимается если часть месяца действовал один срочный вклад, который был расторгнут/закончил срок действия, и в этот же день был оформлен другой срочный вклад (переоформление вклада «день в день»). <br>** Учитываются только оплаты, отраженные по счету карты в отчетном периоде', '--secondary3')
      +section
        +usefull([{touchPay: true}, {mobile_bank: true}], 'Дополнительно', '--t-col')
      +section
        +questions
      +section('--l-pd-x')
        +call-form
      +section
        +usefull([{credit: true}, {reference: true}])
