extends ../../layouts/layout

block variables
  -
    const pageName = 'credits-mobilization'
    const pageTitle = 'Credits mobilization'
    const headerAbsolute = true
    const siteSection = 'private'
    const headerMenuActive = 'Кредиты'

    const parametersHeadings = [
      { p4: 'О кредитных каникулах'},
      { p4: 'Подтверждающие документы'}
    ]

    const parametersTab1 = [
      {
        itemMods: 'parameters-grid__item--p40 parameters-grid__item--flex',
        icon: 'icon_medal',
        p3: 'Кредитные каникулы предоставляются по кредитным договорам (потребительские и ипотечные кредиты), заключенным до дня мобилизации, или до дня участия в СВО, или до дня заключения контракта (для добровольцев).',
        p3Mods: '--bold',
      },
      {
        h5: 'Вы можете получить кредитные каникулы, если:',
        list: [
          { p3: 'призваны на военную службу по мобилизации;' },
          { p3: 'проходите военную службу по контракту, находитесь на военной службе в войсках национальной гвардии РФ, в воинских формированиях и органах, при условии участия в СВО на территориях Украины, ДНР, ЛНР, Херсонской и Запорожской областей;' },
          { p3: 'являетесь сотрудником пограничной службы, находящимся на территории России и обеспечивающим проведение СВО;' },
          { p3: 'являетесь членом семьи указанных выше лиц, по собственным кредитам:', list: [
            { p4: 'супруга (супруг)' },
            { p4: 'несовершеннолетние дети' },
            { p4: 'дети старше 18 лет, ставшие инвалидами до достижения ими возраста 18 лет' },
            { p4: 'дети в возрасте до 23 лет, обучающиеся по очной форме обучения' },
            { p4: 'лица, находящиеся на иждивении военнослужащих' },
          ]},
        ],
        itemMods: 'parameters-grid__item--p40 parameters-grid__item--img-mobilization',
        img: '../../images/credits-inner/mobilizations_img.png'
      },
      { h5: 'Важно знать', list: [
        { p3: 'Оформить кредитные каникулы можно в течение действия кредитного договора, не позднее 31.12.2023' },
        { p3: 'Для ипотечных и потребительских кредитов дату начала кредитных каникул заемщик выбирает сам, но не ранее 21 сентября 2022 года, а для кредитных карт дата кредитных каникул устанавливается с даты подачи заявления' },
        { p3: 'Для продления кредитных каникул в случае получения военнослужащим травм или заболеваний, необходимо будет представить документ, подтверждающий данный факт' },
        { p3: 'Кредитные каникулы предоставляются на весь срок военной службы, увеличенный на 30 дней' },
        { p3: 'Можно обратиться за кредитными каникулами и по окончании мобилизации, но при этом в заявлении о предоставлении кредитных каникул обязательно нужно указать дату начала кредитных каникул (для кредитных карт неприменимо)' }
      ], itemMods: 'parameters-grid__item--p40 parameters-grid__item--d-pr180'}
    ]

block content
  main
    .inner
      +breadcrumbs('--banner')
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Кредитные каникулы для мобилизованных')
        +breadcrumbs-item('Кредитные каникулы для мобилизованных', '/', '--mobile')
      +banner({h2: 'Способы погашения кредита', p2: 'Вносите платежи по кредиту с комфортом', image: 'banner_img--repayment.png'}, '--layout')
      +section
        +repayment([{withoutCommission: true}])
      +section('--background, --order-up')
        +parameters
      +section('--background, --order-up')
        +parameters-new('Условия', parametersHeadings)
          +ui-tab-item('--active')
            .parameters-new__top
              +ui-h4('Условия кредитования', '--bold')
              .parameters-new__close
            +parameters-grid(parametersTab1)
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Cпособы погашения кредита', '--bold')
              .parameters-new__close
            +document({p4: 'Тарифы банка'})
            +document({p4: 'Заявление о присоединении к Правилам комплексного банковского обслуживания и подключении услуг'})
            +document({p4: 'Реквизиты для безналичного пополнения счета'})
            +document({p4: 'Правила комплексного банковского обслуживания физических лиц в ПАО Банк Синара. Версия 8.4'})
            +document({p4: 'Правила КБО Версии 1.0-8.3'})
            +document({p4: 'Условия предоставления и использования потреб. кредитов в ПАО Банк Синара'})
            +document({p4: 'Способы и адреса для направления обращений получателями финансовых услуг'})
            +document({p4: 'Шаблон справки о заработной плате по форме банка'})
      +section
        +steps
      +section
        +questions
      +section
        +usefull([{card: true}, {reference: true}])
