mixin ui-switch(id, text, mods, tooltip)
  -
    const baseName = 'ui-switch'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-switch(class=allMods)
    input(id=id name=id type='checkbox')&attributes(attributes)
    label(for=id)
      if text.p4
        +ui-p4(text.p4, text.mods)
    if tooltip
      +ui-tooltip('', tooltip)
    block
