mixin popup-cities(mods)
  -
    const baseName = 'popup-cities'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  +popup('popupCities', '--small, --cities').popup-cities(class=allMods)&attributes(attributes)
    .popup-cities__head
      +ui-h4('Перечень городов', '--bold')
    .popup-cities__body
      -for (items = 0; items < 30; items++)
        .popup-cities__line
          +ui-p4('Архангельск', '--bold')
          +ui-p4('Архангельская область')
    block
