mixin popup-app(mods)
  -
    const baseName = 'popup-app'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  +popup('popupApp', '--small, --app').popup-app(class=allMods)&attributes(attributes)
    .popup-app__qr
      img(src='../../images/main/popup-app_img.png', alt='Подключение и использование Синара Банк - бесплатно')
    +ui-p2('Наведите камерой телефона на QR-код и перейдите по ссылке в App Store, Google Play или AppGallery', 'popup-app, --bold')
    +ui-p4('Подключение и использование Синара Банк - бесплатно')
    .popup-app__links
      a.popup-app__link(href='#')
        +ui-svg('icon_app--appstore', 'popup-app')
      a.popup-app__link(href='#')
        +ui-svg('icon_app--googleplay', 'popup-app')
      a.popup-app__link(href='#')
        +ui-svg('icon_app--rustore', 'popup-app')
      a.popup-app__link(href='#')
        +ui-svg('icon_app--appgallery', 'popup-app')
    block
