extends ../../layouts/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    .inner
      br
      br
      br
      br
      +ui-h1(pageTitle)
      br
      br
      a(href='blocks.html') Repository blocks
      br
      br
      br
      a(href='main.html') Main
      br
      a(href='offices.html') Offices
      br
      br
      a(href='promotion-template.html') Promotion template aka landing
      br
      br
      a(href='blog-inner-blocks.html') Blog inner blocks
      +section
        +ui-h3('', '-bold')
          a(href='cards.html') Cards
        br
        a(href='cards-goodness.html') Cards goodness
        br
        a(href='cards-premium.html') Cards premium
        br
        a(href='cards-salary.html') Cards salary
        br
        a(href='cards-uni-social.html') Cards uni social
        br
        a(href='cards-universal.html') Cards universal
        br
        a(href='cards-yes.html') Cards "Yes"
        br
        a(href='payment-sticker.html') Payment sticker

      +section
        +ui-h3('', '-bold')
          a(href='credits.html') Credits
        br
        a(href='credits-credit0.html') Credits credit0
        br
        a(href='credits-holidays.html') Credits holidays
        br
        a(href='credits-manage.html') Credits manage
        br
        a(href='credits-mobilization.html') Credits mobilization
        br
        a(href='credits-repayment.html') Credits repayment
      +section
        +ui-h3('', '-bold')
          a(href='deposits.html') Deposits
        br
        a(href='deposits-active-account.html') Deposits active account
        br
        a(href='deposits-active-income.html') Deposits active income
        br
        a(href='deposits-desires-fulfillment.html') Deposits desires fulfillment
        br
        a(href='deposits-desires-fulfillment-plus.html') Deposits desires fulfillment plus
        br
        a(href='deposits-dream-course.html') Deposits dream course
        br
        a(href='deposits-lucky-coin.html') Deposits lucky coin
        br
        a(href='deposits-maximum.html') Deposits maximum
        br
        a(href='deposits-miracle.html') Deposits miracle
        br
        a(href='deposits-my-charm.html') Deposits my charm
        br
        a(href='deposits-pension.html') Deposits pension
        br
        a(href='deposits-third-party.html') Deposits third party
        br
        a(href='deposits-welcome.html') Deposits welcome
