extends ../../layouts/layout

block variables
  -
    const pageName = 'deposits-desires-fulfillment-plus'
    const pageTitle = 'Вклад "Исполнение желаний+"'
    const headerAbsolute = true
    const siteSection = 'private'
    const headerMenuActive = 'Вклады и счета'

    const calc = [{
      deposit: {
        title: 'Рассчитайте свой доход от вклада',
        period: true,
        info: [
          { name: 'Ставка', value: '8.6 %' },
          { name: 'Доход по вкладу', value: '430 521 ₽' },
          { name: 'Сумма в конце срока', value: '1 930 521 ₽' },
        ]
      }
    }]

    const parametersHeadings = [
      { p4: 'Процентные ставки по вкладу'},
      { p4: 'Условия вклада'},
      { p4: 'Тарифы и документы'},
    ]

    const parametersTab = [
      { p3: 'Сумма вклада', p1: 'от 10 000 ₽ до 3 млн. ₽, от 300 $ до 5 млн. $' },
      { p3: 'Срок вклада', p1: '30 дней, 90 дней, 180 дней, 367 дней, 546 дней, 720 дней, 1080 дней' },
      { table: [
        { p3_1: 'Валюта вклада', p3_2: 'рубли (₽), доллары ($)' },
        { p3_1: 'Выплата процентов', p3_2: 'В конце срока' },
        { p3_1: 'Капитализация процентов', p3_2: 'Не производится' },
        { p3_1: 'Пополнение вклада', p3_2: 'Не производится' },
        { p3_1: 'Расходные операции', p3_2: 'Не разрешены, кроме востребования вклада' },
        { p3_1: 'Пролонгация', p3_2: 'Осуществляется не более 5 раз. Процентная ставка по Вкладу после пролонгации устанавливается в размере, соответствующем размеру ставок, действующих в Банке на дату пролонгации' },
        { p3_1: 'Досрочное расторжение', p3_2: 'Проценты рассчитываются по ставке вклада «До востребования»' },
        { p3_1: 'Особые условия', p3_2: 'Заключение договора вклада осуществляется с любым обратившимся клиентом физическим лицом - пользователем системы дистанционного банковского обслуживания Синара Банк, путем обмена электронными документами' },
      ], itemMods: 'parameters-grid__item--x2 parameters-grid__item--p40'}
    ]

    const instructionData_1 = [
      {
        img: '../../images/deposits/instruction_mob-1.png',
        title: 'Откройте новый продукт',
        descr: 'Нажмите на «+» внизу главной страницы, далее «Открыть новый продукт» и «Открыть вклад»'
      },
      {
        img: '../../images/deposits/instruction_mob-2.png',
        title: 'Выберите вклад',
        descr: 'На открывшейся странице выберите тип открываемого вклада'
      },
      {
        img: '../../images/deposits/instruction_mob-6.png',
        title: 'Заполните форму',
        descr: 'Выберите счет в разделах «Источник первоначального взноса» и «Счет для зачисления средств при закрытии вклада» и укажите сумму открываемого вклада'
      },
      {
        img: '../../images/deposits/instruction_mob-7.png',
        title: 'Откройте вклад',
        descr: 'При заполнении всех полей кнопка «Открыть вклад» становится доступной'
      },
      {
        img: '../../images/deposits/instruction_mob-5.png',
        title: 'Введите код из SMS',
        descr: 'Вклад открыт!'
      }
    ]

    const instructionData_2 = [
      {
        img: '../../images/deposits/instruction_tablet-4.png',
        title: 'Откройте новый продукт',
        descr: 'Нажмите на «+» внизу главной страницы, далее «Открыть новый продукт» и «Открыть вклад»'
      },
      {
        img: '../../images/deposits/instruction_tablet-5.png',
        title: 'Выберите вклад',
        descr: 'На открывшейся странице выберите тип открываемого вклада'
      },
      {
        img: '../../images/deposits/instruction_tablet-5.png',
        title: 'Заполните форму',
        descr: 'Выберите счет в разделах «Счет списания» и «Счет зачисления после закрытия» и укажите сумму открываемого вклада'
      },
      {
        img: '../../images/deposits/instruction_tablet-6.png',
        title: 'Введите код из SMS',
        descr: 'Вклад открыт!'
      }
    ]

    const tableDataMob = {
      tbody: [
        {
          td: [
            { text: '<span class="ui-secondary3">Сумма вклада</span> от 10 000 ₽', colspan: 2 },
          ]
        },
        {
          td: [
            { text: '90 дней', mods: 'ui-secondary3' },
            { text: '7%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '180 дней', mods: 'ui-secondary3' },
            { text: '7.9%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '367 дней', mods: 'ui-secondary3' },
            { text: '8.1%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '720 дней', mods: 'ui-secondary3' },
            { text: '8.5%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '1080 дней', mods: 'ui-secondary3' },
            { text: '9.6%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '<span class="ui-secondary3">Сумма вклада</span> от 1 500 000 ₽', colspan: 2 },
          ]
        },
        {
          td: [
            { text: '90 дней', mods: 'ui-secondary3' },
            { text: '7.1%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '180 дней', mods: 'ui-secondary3' },
            { text: '8.0%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '367 дней', mods: 'ui-secondary3' },
            { text: '8.1%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '720 дней', mods: 'ui-secondary3' },
            { text: '8.7%', mods: 'ui-text-right' },
          ]
        },
        {
          td: [
            { text: '1080 дней', mods: 'ui-secondary3' },
            { text: '9.7%', mods: 'ui-text-right' },
          ]
        },
      ]
    }

block content
  main
    .inner
      +breadcrumbs('--banner')
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item(pageTitle)
        +breadcrumbs-item(pageTitle, '/', '--mobile')
      +banner({h2: 'Вклад "Исполнение желаний+"', p2: 'Вклад-online с максимальной доходностью на длительный срок', infoItems: [{ p2: 'до<span>8.6</span>%', p4: 'ставка на весь срок' }, { p2: 'от<span>10 000</span>₽<span>/ 300</span>$', p4: 'сумма вклада' }], image: 'banner_img--deposit-desires-plus.png'}, '--deposit-desires-plus, --layout')
      +section('--background, --m-only')
        +ui-table(tableDataMob, '--bg-white-pd-xl')(data-mob-short='')
      +section('--background')
        +section-head: +ui-h3('Максимальная доходность на длительный срок', '--bold')
        +ui-tab
          +ui-tab-head([{p4: 'В рублях РФ'}, {p4: 'В долларах США'}], '--bookmarks, --m-outside')(data-fake-tabs='')
        +main-calculator(calc)
      +section('--background, --order-up')
        +parameters-new('Параметры', parametersHeadings)
          +ui-tab-item('--active')
            .parameters-new__top
              +ui-h4('Процентные ставки по вкладу', '--bold')
              .parameters-new__close
            +parameters-grid(parametersTab ,'--x2')
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Условия вкладаtle', '--bold')
              .parameters-new__close
            +parameters-grid(parametersTab ,'--x2')
          +ui-tab-item
            .parameters-new__top
              +ui-h4('Тарифы и документы', '--bold')
              .parameters-new__close
            +document({p4: 'Тарифы банка'})
            +document({p4: 'Заявление о присоединении к Правилам комплексного банковского обслуживания и подключении услуг'})
            +document({p4: 'Реквизиты для безналичного пополнения счета'})
            +document({p4: 'Правила комплексного банковского обслуживания физических лиц в ПАО Банк Синара. Версия 8.4'})
            +document({p4: 'Правила КБО Версии 1.0-8.3'})
            +document({p4: 'Условия предоставления и использования потреб. кредитов в ПАО Банк Синара'})
            +document({p4: 'Способы и адреса для направления обращений получателями финансовых услуг'})
            +document({p4: 'Шаблон справки о заработной плате по форме банка'})
      +section('--l-pd-x')
        +section-head('--flex')
          +ui-h3('Открыть вклад просто!', '--bold')
          +ui-tab-head([{ p4: 'Mobile' }, { p4: 'Desktop' }, { p4: 'Офис' }], '--no-outside, --bg-grey-active-black')(data-tab-group='instruction')
        +ui-tab(data-tab-group='instruction')
          +ui-tab-body
            +ui-tab-item('--active')
              +instruction(instructionData_1)
            +ui-tab-item
              +instruction(instructionData_2)
            +ui-tab-item
              p 3
      +section
        +usefull([{credit: true}, {reference: true}])
