mixin income-loss(mods)
  -
    const baseName = 'income-loss'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .income-loss(class=allMods)&attributes(attributes)
    .income-loss__content
      +ui-h5('Банк оставляет за собой право проверить факт потери дохода заявителем', 'income-loss, --bold')
      +ui-p2('Информация, подтверждающая право на кредитные каникулы, должна быть документально подтверждена в течение 14 календарных дней с даты получения запроса от банка. В противном случае кредитные каникулы не будут предоставлены банком, что повлечет образование длительной просроченной задолженности. В соответствии с законом и договором кредитования будут начислены штрафы и пени за весь срок с момента запроса кредитных каникул, что негативно отразится на вашей кредитной истории.', 'income-loss')
      +ui-p2('Основание: <a href="#">Федеральный закон от 03.04.2020 № 106-ФЗ</a> и отдельные законодательные акты РФ в части особенностей изменения условий кредитного договора, договора займа.', 'income-loss')
    .income-loss__image: img(src='../../images/credits/icome_loss.png', alt='Банк оставляет за собой право проверить факт потери дохода заявителем')
    block
