mixin footnote(text, mods)
  -
    const baseName = 'footnote'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .footnote(class=allMods)&attributes(attributes)
    if text.p4
      +ui-p4(text.p4, 'footnote, --secondary3')
    if text.p5
      +ui-p5(text.p5, 'footnote, --secondary3')
    block
