mixin documents(mods)
  -
    const baseName = 'documents'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .documents(class=allMods)&attributes(attributes)
    .documents__head
      +ui-h3('Документы', '--bold')
    .documents__body
      +document({p4:'Наименование документа один'})
      +document({p4:'Наименование документа два'})
      +document({p4:'Наименование документа три'})
    block
