mixin seo-text(mods)
  -
    const baseName = 'seo-text'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .seo-text(class=allMods)&attributes(attributes)
    .seo-text__body
      h2 Насколько безопасна оплата по СБП
      p В части безопасности платежи по QR-кодам выигрывают у большинства методов безналичной оплаты покупок. Главная причина в том, что в процессе расчета не фигурируют данные банковской карты, которые являются наиболее уязвимыми. Скомпрометированные номера и CVV-коды часто становятся причиной кражи денег мошенниками. В случае с платежами по СБП эти данные не используются – деньги отправляются продавцу напрямую со счета покупателя.
      p Вероятность подмены самого QR-кода обычно тоже исключена. Особенно если речь идет о символах, которые генерируются для каждой конкретной покупки индивидуально и отображаются на экране терминала. К тому же при оплате вы видите наименование магазина, в который отправляются деньги.
      p Тем не менее, важно соблюдать базовые меры предосторожности:
      ul
        li
          p стараться не расплачиваться в сомнительных интернет-магазинах;
        li
          p внимательно проверять на подлинность сайты, где размещаются QR-коды – мошенники могут копировать их и выдавать «клонов» за официальные ресурсы известных компаний;
        li
          p при оплате обращать внимание на наименование магазина и сумму платежа.
      p Также старайтесь аккуратно указывать значения. Если ввести большую сумму платежа, то оплата может не пройти. Деньги удастся вернуть, однако это может занять некоторое время. На практике такое случается крайне редко. К тому же вводить значение вручную обычно требуется только при сканировании QR-кода, одинакового для всех платежей.
      h2 Плюсы и минусы оплаты по QR-коду
      p Этот способ оплаты идеален в ситуации, когда покупатель забывает банковскую карту или просто не хочет носить ее с собой. Технология оплаты по QR-кодам получила мощное развитие в последнее время и сегодня доступна в подавляющем большинстве торговых точек. Платить этим способом можно как в обычных магазинах, так и в интернете.
      p Главные преимущества оплаты по QR-кодам:
      ol
        li
          p Бесконтактный платеж без физической банковской карты – достаточно смартфона с камерой, модуль NFC не нужен.
        li
          p Предельная простота – для сканирования кода достаточно камеры и предустановленного приложения банка.
        li
          p Безопасность – в процессе оплаты не используются данные банковской карты, не создаются дополнительные уязвимости.
      p Еще один интересные момент – заинтересованность бизнеса в платежах через СБП из-за низкой комиссии за эквайринг. Многие магазины активно агитируют покупателей расплачиваться именно этим способом. В частности, предлагая бонусы за оплату по QR-коду. При этом магазины сохраняют альтернативные варианты расчета – «классические» платежи банковскими картами и наличными.
    block
