.ui-ul {
  max-width: 860px;
  li {
    position: relative;
    display: flex;
    gap: 12px;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 13px;
      }
    }
    &::before {
      content: '';
      flex-shrink: 0;
      display: block;
      width: 7px;
      height: 7px;
      margin-top: 8px;
      background: $accent1;
      border-radius: 50%;
    }
  }
  .ui-ul {
    margin-left: 20px;
  }
  &--li-mb16 {
    li {
      &:not(:last-child) {
        margin-bottom: 16px;
        @include media-tablet {
          margin-bottom: 10px;
        }
      }
    }
  }
}
